/* GLOBAL */
:root{
    --body-bg:#fff;
    --text-color:#6e728e;
}

html{
    height: 100%;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    font-size: 15px;
    line-height:28px;
    font-weight: 700;
    font-family: 'Montserrat', 'Arial',  sans-serif;
}

*, *::before, *::after{
    box-sizing: inherit;
}

/* CONTAINER */
.container{
    width: 100%;
    max-width: 1440px;
    padding-right: 20px;
    padding-left: 20px;
    margin-right: auto;
    margin-left: auto;
}